<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
<head>
		 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" name="viewport">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script crossorigin="anonymous" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js"></script>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="/favicon.ico">

        <!--Animate.css-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" rel="stylesheet"/>

		<title>见微知著</title>




	</head>
	<body style="background-color: #F5F5F5;">
		<div>
			
			<div style="background-color:#DEEFDD;height:21rem;box-shadow: 10px 15px 8px #d4d4d4;">
				
				<!--顶部导航栏-->
                <nav class="navbar navbar-expand-lg navbar-light" id="top" style="background:#BEDEC9">
                    <a class="navbar-brand" href="index.html">LittleLittle BigBlog</a>
                    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#" >主页 <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdown" role="button">
                                    标签
                                </a>
                                <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                                    <a class="dropdown-item" href="AdminBlog.html">美食</a>
                                    <a class="dropdown-item" href="/tag/2">电影</a>
                                    <a class="dropdown-item" href="/tag/3">游戏</a>
                                    <a class="dropdown-item" href="/tag/4">音乐</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <form class="form-inline my-lg-0">
                                    <input aria-label="Search" class="form-control mr-sm-2" placeholder="Search" type="search">
                                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                                </form>
                            </li>
                        </ul>
                        <img class="rounded-circle " th:src="@{/image/avatar/}+${session.userInfo.getAvatarId()}" style="height: 40px;width: 40px">
                        <a class="nav-link navbar-text" href="/personalData" >[[${session.userInfo.username}]]</a>
                    </div>
                </nav>
                <a href="#top">
                    <div style="box-shadow: 3px 4px 4px rgba(10,16,20,0.24),0 0 8px rgba(10,16,20,0.12);text-decoration: none;border-radius: 50%;background: #A79EAF;width: 3.5rem; height: 3.5rem; bottom: 4rem;right: 9rem; position: fixed; text-align: center">
                        <img src="img/ToTop.png" style="width: auto; height: auto; margin-top: 0.2rem">
                    </div>
                </a>
                <!--发表博客-->
                <a href="/publish">
                    <div style="box-shadow: 3px 4px 4px rgba(10,16,20,.24),0 0 8px rgba(10,16,20,.12);text-decoration: none;border-radius: 50%;background: white;width: 3.5rem; height: 3.5rem; bottom: 9rem;right: 9rem; position: fixed; text-align: center">
                        <img src="img/publish.png" style="width: auto; height: auto; margin-top: 0.2rem">
                    </div>
                </a>
				<!--轮播图-->
			<div align="center" style="margin-top: 3rem;">
				<div class="carousel slide carousel-fade" data-ride="carousel" id="carouselExampleFade" style="height: 18rem;width: 48rem" >
                    <div class="carousel-inner" style="height: 18rem;">
                <div class="carousel-item active">
                    <a href="/tag/1"><img alt="..." class="d-block w-100" src="img/index/bg.jpg"></a>
                </div>
                <div class="carousel-item">
                    <a href="/tag/2"><img alt="..." class="d-block w-100" src="img/index/movie.PNG"></a>
                </div>
                <div class="carousel-item">
                    <a href="/tag/3"><img alt="..." class="d-block w-100" src="img/index/game.jpg"></a>
                </div>
                <div class="carousel-item">
                    <a href="/tag/4"><img alt="..." class="d-block w-100" src="img/index/music.jpg"></a>
                </div>
             </div>
                    <a class="carousel-control-prev" data-slide="prev" href="#carouselExampleFade" role="button">
                        <span aria-hidden="true" class="carousel-control-prev-icon"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" data-slide="next" href="#carouselExampleFade" role="button">
                        <span aria-hidden="true" class="carousel-control-next-icon"></span>
                        <span class="sr-only">Next</span>
                    </a>
            </div>
		</div>
            </div>
			<!--内容-->
            <div align="center" class="animate__bounce" id="addblogs">

            </div>


<a></a>

		</div>

    <script>
        $.ajax({
            async:false,
            type:"post",
            url:"/index/blogs",
            dataType:"json",
            success:function (data) {
                let html = "";
                $.each(data, function (index, value) {
                    var con= value.content.toString().substr(0,150)
                    var dat= value.releaseDate.toString().substr(0,10)

                    html += "<a style='text-decoration: none;color: #616467' href=\"/blog/"+ value.blogId +"\">" +
                        "<div align=\"center\" class=\"animate__bounce\" >\n" +
                        "                <div class=\"card mb-3 \" style=\"max-width: 56rem;max-height:15rem;border-radius: 1rem;margin-top: 7rem;\">\n" +
                        "                    <div class=\"row no-gutters\">\n" +
                        "                        <div class=\"col-md-4\">\n" +
                        "                            <img alt=\"...\" class=\"card-img\" style=\"height: 100%;max-height: 15rem; border-radius: 1rem 0 0 1rem\" src=\"/image/blogImg/" + value.blogPhoto + "\" >\n" +
                        "                        </div>\n" +
                        "                        <div class=\"col-md-8\">\n" +
                        "                            <div class=\"card-body\">\n" +

                        "                                <h5 class=\"card-title\" >"+ value.title + "</h5>\n" +

                        "                                <p class=\"card-text\" >"+ con +"</p>\n" +
                        "                                <p class=\"card-text\"><small class=\"text-muted\"\n" +
                        "                                                           >"+ dat +"</small></p>\n" +
                        "                            </div>\n" +
                        "                        </div>\n" +

                        "                    </div>"+
                        "                </div>\n" +

                        "\t\t\t</div>"
                        +"</a>"
                })
                $('#addblogs').html(html);

            }
        })
    </script>
	</body>
</html>
