<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>修改个人资料</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body style="background: #F5F5F5">
<nav class="navbar navbar-expand-lg navbar-light" style="background:#BEDEC9">
    <a class="navbar-brand" href="index.html">LittleLittle BigBlog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#" >主页 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    标签
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/tag/1">美食</a>
                    <a class="dropdown-item" href="/tag/2">电影</a>
                    <a class="dropdown-item" href="/tag/3">游戏</a>
                    <a class="dropdown-item" href="/tag/4">音乐</a>
                </div>
            </li>
            <li class="nav-item">
                <form class="form-inline my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </li>
        </ul>
        <img th:src="@{/image/avatar/}+${session.userInfo.getAvatarId()}" style="height: 40px;width: 40px" class="rounded-circle ">
        <a class="nav-link navbar-text" href="/personalData" >[[${session.userInfo.username}]]</a>
    </div>
</nav>

<div class="card" style="margin: 2% 10% 10%;">
    <div class="embed-responsive" style="border-top-left-radius: 0.25rem;border-top-right-radius: 0.25rem;background-image: linear-gradient(to right, #5ee7df 0%, #b490ca 100%);height:10rem;z-index: 0">
        <h1 style="margin-left: 5%;color: #f2fcf7;margin-top: 3rem">个人资料</h1>
    </div>
    <div style="margin-left: 5%;z-index: 1;float: left">
        <img id="avatarId" th:src="@{/image/avatar/}+${session.userInfo.getAvatarId()}" style="margin-top: -2.5rem;width: 5rem;height:5rem;display:inline" class="rounded-circle">
        <h5 style="display:inline;margin-top: 2.5rem"></h5>
    </div>
    <div style="margin: 5%">
        <form action="/ModifyData" enctype="multipart/form-data" method="post">
            <input id="choose_avatar" type="file" name="uploadAvatarImg" class="form-control-file" accept="image/gif,image/jpeg, image/png, image/jpg">
<br>
            <ul class="list-group">
                <li class="list-group-item"><div>用户名</div><div><input name="username" th:value="${session.userInfo.getUsername()}" type="text" style="font-size: 15px"></div></li>
                <li class="list-group-item"><div>昵称</div><div><input th:value="${session.userInfo.getNickname()}" name="nickname" type="text"></div></li>
                <li class="list-group-item"><div>电子邮箱</div><div><input th:value="${session.userInfo.getEmail()}" name="email" type="text"></div></li>
                <li class="list-group-item"><div>生日</div><div><input th:value="${#dates.format(session.userInfo.getBirthday(),'yyyy-MM-dd')}" name="birthday" type="text"></div></li>
                <li class="list-group-item"><div>注册日期</div><div>[[${#dates.format(session.userInfo.getRegisterDate(),'yyyy-MM-dd')}]]</div></li>
                <li class="list-group-item"> <button type="submit" class="btn btn-outline-primary">修改</button></li>
            </ul>
        </form>
    </div>
</div>

<script>
    function ProcessFile(e) {
        const reader = new FileReader();
        const file = document.getElementById('choose_avatar').files[0];
        console.log(file);
        if (file) {
            reader.onload = function (event) {
                const txt = event.target.result;
                $("#avatarId").attr('src', txt);//将图片base64字符串赋值给img的src
                //console.log(txt)//base64
            };
        }
        reader.readAsDataURL(file);
    }

    function contentLoaded() {
        document.getElementById('choose_avatar').addEventListener('change',
            ProcessFile, false);
    }

    window.addEventListener("DOMContentLoaded", contentLoaded, false);

</script>
</body>
</html>