<!DOCTYPE html >
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link href="/css/ViewBlog.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <title th:text="${blog.title}">loading</title>
</head>
<body style="height: 100%; background: #F5F5F5">

<!--顶部导航栏-->
<nav class="navbar navbar-expand-lg navbar-light" id="top" style="background:#DEEFDD">
    <a class="navbar-brand" href="/index">LittleLittle BigBlog</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/index">主页 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    标签
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/tag/1">美食</a>
                    <a class="dropdown-item" href="/tag/2">电影</a>
                    <a class="dropdown-item" href="/tag/3">游戏</a>
                    <a class="dropdown-item" href="/tag/4">音乐</a>
                </div>
            </li>
            <li class="nav-item">
                <form class="form-inline my-lg-0">
                    <input aria-label="Search" class="form-control mr-sm-2" placeholder="Search" type="search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </li>
        </ul>
        <img class="rounded-circle "  th:src="@{/image/avatar/}+${session.userInfo.getAvatarId()}" style="height: 40px;width: 40px">
        <a class="nav-link navbar-text" href="/personalData" >[[${session.userInfo.username}]]</a>
    </div>
</nav>

<!--回到顶部-->
<a href="#top">
    <div style="box-shadow: 3px 4px 4px rgba(10,16,20,0.24),0 0 8px rgba(10,16,20,0.12);text-decoration: none;border-radius: 50%;background: #A79EAF;width: 3.5rem; height: 3.5rem; bottom: 4rem;right: 9rem; position: fixed; text-align: center">
        <img src="/img/ToTop.png" style="width: auto; height: auto; margin-top: 0.2rem">
    </div>
</a>

<!--发表博客-->
<a href="/publish">
    <div style="box-shadow: 3px 4px 4px rgba(10,16,20,.24),0 0 8px rgba(10,16,20,.12);text-decoration: none;border-radius: 50%;background: white;width: 3.5rem; height: 3.5rem; bottom: 9rem;right: 9rem; position: fixed; text-align: center">
        <img src="/img/publish.png" style="width: auto; height: auto; margin-top: 0.2rem" alt="...">
    </div>
</a>

<!--左边主div（标题，博客，评论）-->
<div id="left_frame">
    <!--    blog部分-->
    <div class="card"
         style="border-radius :0.5rem;top: 3%; width: 100%; box-shadow: 0 8px 8px rgba(10,16,20,.24),0 0 8px rgba(10,16,20,.12);text-decoration: none;">
        <ul class="list-group list-group-flush">
            <!--微博内容-->
            <li class="list-group-item">
                <div class="card-body" style="width: 100%; height: 100%">
                    <div style="top: 10%;height: 10%">
                        <!-- 补充标题-->
                        <h4 th:text="${blog.title}">loading...</h4>
                    </div>
                    <br>
                    <!-- 用户 发布时间-->
                    <!--/*@thymesVar id="commentDate" type="java.util.Date"*/-->
                    <p class="card-text" style="height: 8%"
                       th:text="${author}+'  '+${#dates.format(blog.releaseDate,'yyyy-MM-dd')}">loading...</p>
                    <br>
                    <br>
                    <!-- 正文 -->
                    <p th:text="${blog.content}" class="card-text" style="height: 20%">
                        now loading...

                    </p>
                    <!--正文图片-->
                    <img alt="Card image" class="card-img-bottom"
                         th:src="@{/image/blogImg/}+${blog.blogPhoto}" style="width: 60%; height:30% ">
                </div>
            </li>
            <!--点赞，阅读量，评论数-->

            <li class="list-group-item">
                <div class="like" style="margin: 2% ;color: #909396;display: inline;">
                    <span class="fa fa-heart-o"></span>
                    <!-- 点赞数 -->
                    <div th:text="${blog.likes}" class="likes" style="display: inline;">
                        30
                    </div>
                </div>
                <div style="margin: 2%;color: #909396;display: inline;">
                    <span class="fa fa-commenting-o"></span>
                    <!-- 评论数 -->
                    <div th:text="${blog.commentCount}" id="commentCount;" style="display: inline">
                        30
                    </div>
                </div>
                <div style="margin: 2%;color: #909396;display: inline;">
                    <span class="fa fa-eye"></span>
                    <!-- 浏览量-->
                    <div th:text="${blog.pageviews}" id="pageviews" style="display: inline;">
                        30
                    </div>
                </div>
            </li>
            <p>
                <br>
            </p>
        </ul>
    </div>


    <!--评论部分-->
    <div style="margin-top: 3rem">
        <div class="card"
             style=" border-radius :0.5rem; top: 3%; width: 100%; box-shadow: 0 8px 8px rgba(10,16,20,.24),0 0 8px rgba(10,16,20,.12);text-decoration: none;">


            <ul class="list-group list-group-flush">
                <!--评论一-->
                <li class="list-group-item" id = "addCommentHtml">



                </li>


                <!--发表评论-->
                <li class="list-group-item">
                    <form method="post" th:action="'/blog/'+${blog.blogId}+'/publishBlog'">
                    <div class="form-group">
                        <div style="display: inline;border-radius :50%; width: 2rem;height: 2rem">
                            <img alt="..." th:src="@{/image/avatar/}+${session.userInfo.getAvatarId()}"
                                 style="border-radius :50%; width: 2rem;height: 2rem">
                        </div>
                        <div style="display: inline;margin-left: 1rem;width: 2rem;height: 2rem">
                            <p th:text="${session.userInfo.nickname}" style="display: inline; font-size: 14px">嘤嘤怪</p>
                        </div>

                        <textarea class="form-control" name="commentContent" id="comment" rows="3" style="margin-top: 1rem"></textarea>
                    </div>
                    <div style="width: 100%; text-align: right">
                        <button class="btn  mb-2" style="background: #DEEFDD" type="submit">
                            发表评论
                        </button>
                    </div>
                    </form>
                </li>
                <p>
                    <br>
                </p>
            </ul>


        </div>
    </div>
</div>

<!-- todo 相关推荐-->
<!--右边div（相关推荐）-->
<div id="right_frame">
    <div class="card"
         style="top: 3%; width: 100%;  border-radius :0.5rem; box-shadow: 0 8px 8px rgba(10,16,20,.24),0 0 8px rgba(10,16,20,.12);text-decoration: none;">
        <div class="card-body">
            <h4 class="card-title">相关推荐</h4>
            <!--推荐一-->

            </div>
        <div id="addRecommend"></div>
        </div>
    </div>
</div>

<script>
    $.ajax({
        async: false,
        type: "post",
        url: "/blog/"+[[${blog.blogId}]]+"/comments",
        dataType: "json",
        success: function (data) {
            let html = "";
            $.each(data,function (index,value) {
                var str = value.comment.commentDate.toString().substr(0,10);

                html+="<div class=\"card border-light mb-3\">\n" +
                    "                        <!--评论头像-->\n" +
                    "                        <div class=\"card-header\">\n" +
                    "                            <div style=\"display: inline;border-radius :50%; width: 2rem;height: 2rem\">\n" +
                    "                                <img alt=\"...\" src=\"/image/avatar/" +value.avatarId  + "\"\n" +
                    "                                     style=\"border-radius :50%; width: 2rem;height: 2rem\">\n" +
                    "                            </div>\n" +
                    "                            <div style=\"display: inline;margin-left: 1rem;width: 2rem;height: 2rem\">\n" +
                    "                                <p style=\"display: inline; font-size: 14px\">"+ value.username + "</p>\n" +
                    "                            </div>\n" +
                    "                            <div style=\"display: inline; margin-left: 22rem;width: 2rem;height: 2rem\">\n" +
                    "                                <p style=\"display: inline; font-size: 14px;opacity: 0.5 \">" + str + "</p>\n" +
                    "                            </div>\n" +
                    "                        </div>\n" +
                    "                        <!-- 评论-->\n" +
                    "                        <div class=\"card-body\">\n" +
                    "                            <p class=\"card-text\" style=\"text-indent: 2rem;\">\n" +
                                                    value.comment.commentContent +
                    "                            </p>\n" +
                    "                        </div>\n" +
                    "                        <!--点赞-->\n" +
                    "                        <div class=\"card-footer\">\n" +
                    "                            <div class=\"like\" style=\"display:inline;color: #909396\">\n" +
                    "                                <span class=\"fa fa-heart-o\"></span>\n" +
                    "                                <div class=\"likes\" style=\"display: inline;\">\n" +
                    "                                    "+ value.comment.commentLikes +"\n" +
                    "                                </div>\n" +
                    "                            </div>\n" +
                    "                            <!--回复-->\n" +
                    "                            <div class=\"comment\" style=\"display:inline\">\n" +
                    "                                <div class=\"Additional_comments\"\n" +
                    "                                     style=\"display:inline;color: #909396; margin-left: 3rem; user-select: none; cursor: pointer;\">\n" +
                    "                                    <span class=\"fa fa-commenting-o\"></span>\n" +
                    "                                    <p style=\"display: inline; font-size: 14px\">回复</p>\n" +
                    "                                </div>\n" +
                    "\n" +
                    "                                <div class=\"Fill_comments\" style=\" display: none;width:100%;margin-top: 2rem\">\n" +
                    "                                    <form>\n" +
                    "                                    <div class=\"input-group mb-3\">\n" +
                    "                                            <input aria-describedby=\"basic-addon2\" aria-label=\"\" class=\"form-control\"\n" +
                    "                                                   placeholder=\"\" style=\"width: 90%\" type=\"text\">\n" +
                    "                                            <div class=\"input-group-append\">\n" +
                    "                                                <button class=\"btn  mb-2\" style=\"background: #DEEFDD\" type=\"submit\">\n" +
                    "                                                    回复\n" +
                    "                                                </button>\n" +
                    "                                            </div>\n" +
                    "                                    </div>\n" +
                    "                                    </form>\n" +
                    "                                </div>\n" +
                    "                            </div>\n" +
                    "                        </div>\n" +
                    "                    </div>";
            })
            $('#addCommentHtml').html(html);
        }
    })
</script>

<script>
    $.ajax({
        async: false,
        type: "post",
        url: "/blog/"+[[${blog.blogId}]]+"/recommend",
        dataType: "json",
        success: function (data) {
            let html = "";
            $.each(data, function (index,value) {
                html += " <a style='text-decoration: none;color: #616467' href=\"/blog/"+ value.blogId +"\"><div class=\"card mb-3\">\n" +
                    "                <div class=\"row no-gutters\">\n" +
                    "                    <div class=\"col-md-4\">\n" +
                    "                        <img alt=\"...\"  class=\"card-img\" src=\"/image/blogImg/" + value.blogPhoto + "\" style=\"height: 100%\">\n" +
                    "                    </div>\n" +
                    "                    <div class=\"col-md-8\">\n" +
                    "                        <div class=\"card-body\">\n" +
                    "                            <p class=\"card-text\" style=\"font-size: 15px\">" + value.title + "</p>\n" +
                    "                        </div>\n" +
                    "                    </div>\n" +
                    "                </div>\n" +
                    "            </div></a>"
            })
            $("#addRecommend").html(html)
        }

    })
</script>
<!-- 点赞，评论 -->
<script type="text/javascript" th:inline="javascript">
    /* <![CDATA[ */
    $('.comment').each(function () {
        var flag3 = 0;
        var comment = this;
        $(this).children(".Additional_comments").click(function () {
            if (flag3 === 0) {
                $(comment).children('.Fill_comments').css('display', "block");
            }
            if (flag3 === 1) {
                $(comment).children('.Fill_comments').css('display', "none");
            }
            if (flag3 === 2) {
                $(comment).children('.Fill_comments').css('display', "block");
                flag3 = 0;
            }
            flag3++;
        })
    })
    /* ]]> */
</script>
<script type="text/javascript" th:inline="javascript">
    /* <![CDATA[ */
    $('.like').each(
        function () {
            var flag = 0;
            $(this).click(function () {
                if (flag === 0) {
                    $(this).css("color", "#ff5454");
                    var divValue = parseInt($(this).children(".likes").text());
                    $(this).children(".likes").text(divValue + 1);
                    flag = 1;
                }
                if (flag === 1) {
                    $(this).css("color", "#909396");
                    var divValue = parseInt($(this).children(".likes").text());
                    $(this).children(".likes").text(divValue - 1);
                }
                if (flag === 2) {
                    $(this).css("color", "#ff5454");
                    var divValue = parseInt($(this).children(".likes").text());
                    $(this).children(".likes").text(divValue + 1);
                    flag = 0
                }
                flag++;
            })
        }
    );

    /* ]]> */
</script>
</body>
</html>